body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1358px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:408px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:408px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:451px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:1348px;
  height:451px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:522px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:859px;
  width:1300px;
  height:522px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:481px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1391px;
  width:1349px;
  height:481px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
